<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <li>
  <% if task.completed == true %>
  <%= check_box_tag(:task, task.id, true) %>
  <% else %>
  <%= check_box_tag(:task, task.id, false) %>
  <% end %>
  <%= link_to task.title, task_path(task), class: "tasks"%>
  <%= link_to "", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" }, class: "fas fa-trash-alt"%>
  </li>
<% end %>
<br>
<br>
<%= link_to "Add your own", new_task_path, class: "btn" %>
