<h1>Add a new task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title, style: "color: green;" %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
<br>
<br>
<%= link_to "Back to list", tasks_path, class: "btn" %>
